
body{
  

  height: 100vh;
 
}

ul{
  padding: 1rem;
  list-style: none;
  background-color: aliceblue;
  border: 1px solid;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: fit-content;
}

li{
  padding: 1rem;
  width: 200px;
  background-color: gray;
  color: white;
  text-align: center;
}

.dragging{
  opacity: .6; 
}


#miElemento{
  width: 100px;
  height: 100px;
  background-color: black;
}